[package]
name = "hyper-tls"
version = "0.4.3" # don't forget html_root_url in lib.rs
description = "Default TLS implementation for use with hyper"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
license = "MIT/Apache-2.0"
keywords = ["hyper", "tls", "http", "https", "ssl"]
homepage = "https://hyper.rs"
repository = "https://github.com/hyperium/hyper-tls"
documentation = "https://docs.rs/hyper-tls"
edition = "2018"

[features]
vendored = ["native-tls/vendored"]

[dependencies]
bytes = "0.5"
native-tls = "0.2"
hyper = { git = "https://github.com/hyperium/hyper.git", default-features = false, features = ["tcp"] }
tokio = { version = "0.3" }
tokio-native-tls = "0.2"

[dev-dependencies]
tokio = { version = "0.3", features = ["full"] }
