[package]
name = "hyper-tls"
version = "0.4.0-alpha.3" # don't forget html_root_url in lib.rs
description = "Default TLS implementation for use with hyper"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
license = "MIT/Apache-2.0"
keywords = ["hyper", "tls", "http", "https", "ssl"]
homepage = "https://hyper.rs"
repository = "https://github.com/hyperium/hyper-tls"
documentation = "https://docs.rs/hyper-tls"
edition = "2018"

[features]
vendored = ["native-tls/vendored"]

[dependencies]
native-tls = "0.2"
hyper = { version = "=0.13.0-alpha.3", default-features = false, features = ["tcp"] }
tokio-io = "=0.2.0-alpha.6"
tokio-tls = "=0.3.0-alpha.6"

[dev-dependencies]
tokio = "=0.2.0-alpha.6"
